{{ header }}{{ column_left }}
<div id="content">
	<style>
	.scan-name{cursor:pointer}
	span.label{font-size:10pt}
	table.table-security{table-layout:fixed}
	table.table-security *{font-family:Consolas;font-size:9pt}
	table.table-security{border:1px solid #ccf;width:100%;border-collapse:collapse;border:1px solid #8892BF}
	table.table-security > thead > tr{background:#ccf}
	table.table-security > thead > tr > th{background:#8892BF;padding:3px 5px;color:#fff;text-align:left;border-bottom:1px solid #8892BF;border-radius:0!important;text-transform:none;}
	table.table-security > thead > tr > th + th{border-left:1px solid #99c}
	table.table-security > tbody > tr > td{padding:3px}
	table.table-security > tbody > tr > td:first-child{overflow:hidden;white-space:nowrap;}
	table.table-security > tbody > tr:nth-child(odd){background:#eef}
	table.table-security > tbody > tr:hover{background:#ddf}
	.changes-list{line-height:38px}
	.security-scan{margin:0;border:1px solid #e5e5e5;padding:8px 10px;margin-bottom:15px}
	.security-scan .scan-name a{color:#4e575b;font-size:15px;font-weight:700;text-decoration:none}
	table.table-security > tbody > tr > td.changed{background:#4F5B93;color:#fff}
	#security-scan-view .table_caption{margin:1em 0;font-weight:700;color:#444;font-size:14px}
	.accordeon_toggle,.btn-copy{cursor:pointer}
	table.table-security.table-hidden{display:none}
	table td a{color:#666}
	table th.column_type{width:50px}
	table th.column_size{width:150px}
	table th.column_mtime{width:140px}
	table th.column_ctime{width:140px}
	table th.column_rights{width:60px}
	table th.column_crc{width:100px}
	.badge{font-size:1em}
	</style>
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<a href="{{ action_settings }}" data-bs-toggle="tooltip" title="{{ button_settings }}" id="button-settings" class="btn btn-primary"><i class="fas fa-cog"></i></a>
				<a href="{{ action_cancel }}" data-bs-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}
		{% if success %}
		<div class="alert alert-success"><i class="fas fa-check-circle"></i> {{ success }}
			<button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		{% endif %}
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ panel_title }}<span class="float-end">v{{ version }}</span></div>
			<div class="card-body">
				<div id="security-scan-view">
					<div class="security-scan row">
						<div class="scan-heading pull-left col-sm-4">
							<div class="scan-name"><a href="#" class="scan_name">{{ scan.name }}</a></div>
							<div class="scan-date-added"><b>{{ scan.user_name }}</b>,&nbsp;{{ scan.date_added_ago }}</div>
						</div>
						<div class="changes-list col-sm-8">
							{% if scan.scanned_count %}
							<a href="{{ scan.href }}#scanned">
								<span class="files-scanned badge bg-secondary" data-bs-toggle="tooltip" title="{{ text_label_scanned }}">
									<div class="fas fa-file"></div>&nbsp;{{ scan.scanned_count }}
								</span>
							</a>&nbsp;
							{% endif %}
							{% if scan.new_count %}
							<a href="{{ scan.href }}#new">
								<span class="files-added badge bg-success" data-bs-toggle="tooltip" title="{{ text_label_new }}">
									<div class="fas fa-plus"></div>&nbsp;{{ scan.new_count }}
								</span>
							</a>&nbsp;
							{% endif %}
							{% if scan.changed_count %}
							<a href="{{ scan.href }}#changed">
								<span class="files-changed badge bg-warning" data-bs-toggle="tooltip" title="{{ text_label_changed }}">
									<div class="fas fa-ellipsis-h"></div>&nbsp;{{ scan.changed_count }}
								</span>
							</a>&nbsp;
							{% endif %}
							{% if scan.deleted_count %}
							<a href="{{ scan.href }}#deleted">
								<span class="files-deleted badge bg-danger" data-bs-toggle="tooltip" title="{{ text_label_deleted }}">
									<div class="fas fa-minus"></div>&nbsp;{{ scan.deleted_count }}
								</span>
							</a>&nbsp;
							{% endif %}

							{% if scan.scan_size_rel == 0 %}
								<span class="badge bg-info" data-bs-toggle="tooltip" title="{{ scan.scan_size_abs_humanized }}">{{ scan.scan_size_rel_humanized }}</span>
							{% else %}
								{% if scan.scan_size_rel > 0 %}
								<span class="files-added badge bg-success" data-bs-toggle="tooltip" title="{{ scan.scan_size_abs_humanized }}">
									<div class="fas fa-plus"></div>&nbsp;{{ scan.scan_size_rel_humanized }}
								</span>
								{% else %}
								<span class="files-added badge bg-danger" data-bs-toggle="tooltip" title="{{ scan.scan_size_abs_humanized }}">
									<div class="fas fa-minus"></div>&nbsp;{{ scan.scan_size_rel_humanized }}
								</span>
								{% endif %}
							{% endif %}
						</div>
					</div>
					{% if scan.new_count %}
						<div class="table_caption">
							<span id="new" onClick="$('.table-new').toggle(1);" class="accordeon_toggle">{{ text_label_new }}&nbsp;
								<span class="badge bg-success">
									<div class="fas fa-plus"></div>&nbsp;{{ scan.new_count }}
								</span>
							</span>&nbsp;
							<span class="badge bg-secondary btn-copy" data-target="table-new" data-bs-toggle="tooltip" title="{{ button_copy }}">
								<i class="fas fa-copy"></i>
							</span>
						</div>
						<table class="table table-security table-new{{ (scan.new_count > 100) ? ' table-hidden' : '' }} sortable">
							<thead>
								<tr>
									<th class="column_name">{{ text_column_name }}</th>
									<th class="column_type" width="50">{{ text_column_type }}</th>
									<th class="column_size" width="150">{{ text_column_size }}</th>
									<th class="column_mtime" width="140">{{ text_column_mtime }}</th>
									<th class="column_ctime" width="140">{{ text_column_ctime }}</th>
									<th class="column_rights" width="50">{{ text_column_rights }}</th>
									<th class="column_crc" width="100">{{ text_column_crc }}</th>
								</tr>
							</thead>
							<tbody>
								{% for file_name, file_data in scan.scan_data.new %}
								<tr>
									<td><a href="{{ action_file }}&file_name={{ file_name|url_encode }}" target="_blank">{{ file_data.relpath }}</a></td>
									<td>{{ file_data.extension }}</td>
									<td data-sort="{{ file_data.int_filesize }}" class="column_size">{{ file_data.filesize }}</td>
									<td data-sort="{{ file_data.int_filemtime }}">{{ file_data.filemtime }}</td>
									<td data-sort="{{ file_data.int_filectime }}">{{ file_data.filectime }}</td>
									<td>{{ file_data.fileperms }}</td>
									<td>{{ file_data.crc }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					{% endif %}
					{% if scan.changed_count %}
						<div class="table_caption">
							<span id="changed" onClick="$('.table-changed').toggle(1);" class="accordeon_toggle">
								{{ text_label_changed }}&nbsp;
								<span class="badge bg-warning">
									<div class="fas fa-ellipsis-h"></div>&nbsp;{{ scan.changed_count }}
								</span>
							</span>&nbsp;
							<span class="badge bg-secondary btn-copy" data-target="table-changed" data-bs-toggle="tooltip" title="{{ button_copy }}">
								<i class="fas fa-copy"></i>
							</span>
						</div>
						<table class="table table-security table-changed{{ (scan.changed_count > 100) ? ' table-hidden' : '' }} sortable">
							<thead>
								<tr>
									<th class="column_name">{{ text_column_name }}</th>
									<th class="column_type" width="50">{{ text_column_type }}</th>
									<th class="column_size" width="150">{{ text_column_size }}</th>
									<th class="column_mtime" width="140">{{ text_column_mtime }}</th>
									<th class="column_ctime" width="140">{{ text_column_ctime }}</th>
									<th class="column_rights" width="50">{{ text_column_rights }}</th>
									<th class="column_crc" width="100">{{ text_column_crc }}</th>
								</tr>
							</thead>
							<tbody>
								{% for file_name, file_data in scan.scan_data.changed %}
								<tr>
									<td><a href="{{ action_file }}&file_name={{ file_name|url_encode }}" target="_blank">{{ file_data.relpath }}</a></td>
									<td>{{ file_data.extension }}</td>
									<td data-sort="{{ file_data.int_filesize }}" class="{{ (file_data.diff.filesize is defined) ? 'changed column_size' : 'class="column_size"' }}">{{ file_data.filesize }}</td>
									<td data-sort="{{ file_data.int_filemtime }}" class="{{ (file_data.diff.filemtime is defined) ? 'changed' : '' }}">{{ file_data.filemtime }}</td>
									<td data-sort="{{ file_data.int_filectime }}" class="{{ (file_data.diff.filectime is defined) ? 'changed' : '' }}">{{ file_data.filectime }}</td>
									<td class="{{ (file_data.diff.fileperms is defined) ? 'changed' : '' }}">{{ file_data.fileperms }}</td>
									<td class="{{ (file_data.diff.crc is defined) ? 'changed' : '' }}">{{ file_data.crc }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					{% endif %}
					{% if scan.deleted_count %}
						<div class="table_caption">
							<span id="deleted" onClick="$('.table-deleted').toggle(1);" class="accordeon_toggle">
								{{ text_label_deleted }}&nbsp;
								<span class="badge bg-danger">
									<div class="fas fa-minus"></div>&nbsp;{{ scan.deleted_count }}
								</span>
							</span>&nbsp;
							<span class="badge bg-secondary btn-copy" data-target="table-deleted" data-bs-toggle="tooltip" title="{{ button_copy }}">
								<i class="fas fa-copy"></i>
							</span>
						</div>
						<table class="table table-security table-deleted{{ (scan.deleted_count > 100) ? ' table-hidden' : '' }} sortable">
							<thead>
								<tr>
									<th class="column_name">{{ text_column_name }}</th>
									<th class="column_type" width="50">{{ text_column_type }}</th>
									<th class="column_size" width="150">{{ text_column_size }}</th>
									<th class="column_mtime" width="140">{{ text_column_mtime }}</th>
									<th class="column_ctime" width="140">{{ text_column_ctime }}</th>
									<th class="column_rights" width="50">{{ text_column_rights }}</th>
									<th class="column_crc" width="100">{{ text_column_crc }}</th>
								</tr>
							</thead>
							<tbody>
								{% for file_name, file_data in scan.scan_data.deleted %}
								<tr>
									<td><a href="{{ action_file }}&file_name={{ file_name|url_encode }}" target="_blank">{{ file_data.relpath }}</a></td>
									<td>{{ file_data.extension }}</td>
									<td data-sort="{{ file_data.int_filesize }}" class="column_size">{{ file_data.filesize }}</td>
									<td data-sort="{{ file_data.int_filemtime }}">{{ file_data.filemtime }}</td>
									<td data-sort="{{ file_data.int_filectime }}">{{ file_data.filectime }}</td>
									<td>{{ file_data.fileperms }}</td>
									<td>{{ file_data.crc }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					{% endif %}
					{% if scan.scanned_count %}
						<div class="table_caption">
							<span id="scanned" onClick="showScanned()" class="accordeon_toggle">
								{{ text_label_scanned }}&nbsp;<span class="badge bg-secondary">
									<div class="fas fa-file"></div>&nbsp;{{ scan.scanned_count }}
								</span>
							</span>&nbsp;
						</div>
						<div id="scanned_wrapper"></div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="renameScan" tabindex="0" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{ text_modal_rename_title }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ button_cancel }}"></button>
			</div>
			<div class="modal-body">
				<form action="{{ action_rename }}" method="post" enctype="multipart/form-data" id="form-rename">
					<div class="form-group required">
						<label for="scan_name" class="form-label">{{ entry_scan_name }}</label>
						<input type="text" class="form-control" name="scan_name" id="scan_name" placeholder="{{ text_scan_name_placeholder }}" autocomplete="off" value="{{ scan.name }}">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-bs-dismiss="modal">{{ button_cancel }}</button>
				<button type="submit" id="renameNow" class="btn btn-success">{{ button_rename }}</button>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	$('.scan_name').on('click', function(event) {
		event.preventDefault();
		new bootstrap.Modal(document.getElementById('renameScan')).show();
	});
		$('#renameNow').click(function(event){
		event.preventDefault();
		$('#form-rename').submit();
	});

	$('#renameScan').on('shown.bs.modal', function (event) {
		document.getElementById('scan_name').focus();
	});

	$('form#form-rename').on('submit', function(event){
		$('#renameNow').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> {{ button_rename_loading }}').attr('disabled', true);
	});
	$('.btn-copy').on('click', function(event) {
		event.preventDefault();
		var target = $(this).data('target');
		var $rows = $('table.' + target + ' tbody tr');
		var selected = '';
		$.each($rows, function(index, val) {
			selected += $(val).find('td:first>a').html() + "\n";
		});
		copyToClipboard(this, selected);
		$(this).toggleClass('bg-success','bg-secondary');
	});
});
var copyToClipboard = function(elem, text) {
	var textarea = elem.appendChild(document.createElement("textarea"));
	textarea.value = text;
	textarea.focus();
	textarea.select();
	document.execCommand('copy');
	textarea.parentNode.removeChild(textarea);
}
var scanned_files = {{ scan['scan_data']['scanned']|json_encode }};
var showScanned = function() {
	var $scanned_wrapper = $('#scanned_wrapper');
	if ($scanned_wrapper.html() == '') {
		$scanned_wrapper.html('<center><i class="fas fa-spinner fa-pulse fa-3x fa-fw"></i></center>');
		html = '';
		html += '<table class="table table-security table-scanned table-hidden sortable">';
			html += '<thead>';
				html += '<tr>';
					html += '<th class="column_name">{{ text_column_name }}</th>';
					html += '<th class="column_type" width="50">{{ text_column_type }}</th>';
					html += '<th class="column_size" width="150">{{ text_column_size }}</th>';
					html += '<th class="column_mtime" width="140">{{ text_column_mtime }}</th>';
					html += '<th class="column_ctime" width="140">{{ text_column_ctime }}</th>';
					html += '<th class="column_rights" width="50">{{ text_column_rights }}</th>';
					html += '<th class="column_crc" width="100">{{ text_column_crc }}</th>';
				html += '</tr>';
			html += '</thead>';
			html += '<tbody>';
				$.each(scanned_files, function(index, val) {
				html += '<tr>';
					html += '<td><a href="{{ action_file }}&file_name=' + index + '" target="_blank">' + val['relpath'] + '</a></td>';
					html += '<td>' + val['extension'] + '</td>';
					html += '<td data-sort="' + val['int_filesize'] + '" class="column_size">' + val['filesize'] + '</td>';
					html += '<td data-sort="' + val['int_filemtime'] + '">' + val['filemtime'] + '</td>';
					html += '<td data-sort="' + val['int_filectime'] + '">' + val['filectime'] + '</td>';
					html += '<td>' + val['fileperms'] + '</td>';
					html += '<td>' + val['crc'] + '</td>';
				html += '</tr>';
				});
			html += '</tbody>';
		html += '</table>';
		$scanned_wrapper.html(html);
	}
	$scanned_wrapper.find('.table-scanned').toggle(1);
}
</script>
{{ footer }}